/* sass color variables */

$green: #079b71;
$red: #ff6c5a;
$creame: #ffedce;
$yellow: #ffba2d;
$blue: #1a4e63;
$dark-blue: #0c2730;
$white: #ffffff;
$black: #000000;
$service: #f56aa2;

$colours :(
  "green": $green,
  "red": $red,
  "creame": $creame,
  "yellow": $yellow,
  "blue": $blue,
  "dark-blue": $dark-blue,
  "black": $black,
  "white": $white,
  "service": $service,
);

:root{
  @each $key, $value in $colours {
    --#{$key} : #{$value};
  }
}

@each $key, $value in $colours {  
  .bg-#{$key}{
    background-color: $value;
  }
  .color-#{$key}{
    color: $value;
  }
}