//colors sass variables
$color-white: #ffffff;
$color-black: #000000;
$color-red: #E30000;
$color-blue: #0066ee;
$color-yellow: #FACD62;
$color-green: #09ae45;
$color-dull: #C9D6FF;
$color-orange: #EC5C27;
$color-blue-light: #369BFF;

$color-text-light: #E9E9E9;
$color-text-grey: #5F6368;
$color-text-dark: #202124;

$color-bg-blue: #0011E7;
$color-bg-brown: #3F3A36;
$color-bg-dark: #252525;
$color-bg-darker: #1A1A1A;
$color-bg-grad: #2C5364;
$color-bg-light: #FAFAFA;