//@use './colors';
/* Common CSS */

/*! purgecss start ignore */

/* scrollbar properties */
/* width */
::-webkit-scrollbar {
  width: 9px; }

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 2px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
  border-radius: 2px; 
}

html{
  background-color: transparent;  
}
body {
  background-color: transparent;
  font-family: $font;
  margin: 0;
  overflow-x: hidden;
  *{
    font-family: $font;
    box-sizing: border-box;
  }
}

/*! purgecss end ignore */

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

img{width: 100%;}

@mixin zero-pm {
  padding: 0;
  margin: 0;
}
@mixin reset-list {
  @include zero-pm();
  list-style: none;
}
@mixin pseudoAB{
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

@for $i from 1 through 100{
  .mb#{$i}{ // grab the n0th mb
    margin-bottom: #{$i}px;
  }
}
@for $i from 1 through 100{
  .mt#{$i}{
    margin-top: #{$i}px;
  }
}


@mixin box-shadow($x:0, $y:0, $blur-radius:2px, $spread-radius:2px, $alpha:0.1) {
  box-shadow: $x $y $blur-radius $spread-radius rgba($color: $black, $alpha: $alpha);
}

@mixin alignDisplay($align: center, $justify:flex-start, $flexDir:row, $flexWrap:wrap){
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flexDir;
  flex-wrap: $flexWrap;
}

@mixin userSelectNone {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin coverBG($url){
  background: transparent url(#{$url}) center center/cover no-repeat;
}

a,p,ul,li,h1,h2,h3,h4,h5,h6{
  @include zero-pm();
}
ol,ul,li {
  @include reset-list();
}
.hideSB::-webkit-scrollbar { width: 0 !important }
.ml-auto{margin-left:auto}
.mr-auto{margin-right:auto}
a{
  &:not([href]){
    color: initial;
    &:hover{
      color: initial;
    }
  }
  text-decoration: none;
  color: $black;
  cursor: pointer;
  display: inline-block;
  &:hover{
    text-decoration: none;
  }  
}

.clearFix::after {
  content: "";
  display: table;
  clear: both;
}

button, .btn{
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  background: none;
  border: none;  
  @include userSelectNone();
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-in-out;
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  &:hover{
    opacity: 1;
  }
  &:focus{
    outline: none;
    box-shadow: none;
  }
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  &[disabled]{
    opacity: 0.7;
    cursor: default;
    filter: grayscale(1);
  }
}


input.mobileNumber[type=number]::-webkit-inner-spin-button, 
input.mobileNumber[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


/**
 *  Progress Bar in Services Slider
 */
.progress {
  display: block;
  width: 100%;
  height: 2px;
  //border-radius: 2px;
  overflow: hidden;
  
  background-color: #bbbbbb;
  background-image: linear-gradient(to right, white, white);
  background-repeat: no-repeat;
  background-size: 0 100%;
  
  transition: background-size 3s ease-in-out;
}


@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 1.4vw rgba(255, 255, 255, 0);
  }
}

.mapBg{
  --background: #{$green};
  --opacity: 0.2;
  z-index: 1;
  position: relative;
  background: var(--background);
  &:before{
    content:'';
    z-index: -1;
    background: var(--background) url('/assets/images/map/map-min.svg') center center/cover no-repeat;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity:var(--opacity);
  }
}