.formWrapper{
  background: #F7F7F7;
  border: 1px solid #D6D6D6;
  border-radius: 8px;
  padding: 24px;
  .formWrapper-head{
    margin-bottom: 20px;
    h4{
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 25px;
      letter-spacing: -0.1px;
    }
    p{
      font-weight: 500;
      letter-spacing: 0.1px;
      font-size: 14px;
      line-height: 1.5;
    }
  }
}
.form-group{
  margin-bottom: 0;
}

.dashboard-form{
  &--medium{
    max-width: 700px;
    .form .row .formCol{
      &:first-child {
        padding-right: 20px;
      }
      &:last-child {
        padding-left: 20px;
      }
      &.col-sm-12{
        padding: 0;
      }
    }
  }
}


.form{  
  .formHelperBlock{
    background: #f0f0f0;
    padding: 12px 20px;
    font-size: 12.94px;
    line-height: 1.4;
    color: $color-text-dark;
    a{
      color: $color-blue;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .formNotice{
    margin-top: 30px;
  }
  .formErrorWrap{
    color: #ff4700;
    font-size: 14px;
    font-weight: 500;
    i{
      position: relative;
      top: -2px;
      svg{
        stroke-width: 2px;
        width: 16px;
        height: 16px;
      }
      margin-right: 4px;
    }
  }
  .inlineFormControl{
    margin: 15px 0;
    .formControl.inline{
      margin: 0;
    }
    .inlineCol2{
      &:nth-child(odd){
        margin-right: 20px;
      }
      &:nth-child(even){
        margin-left: 20px;
      }
    }
  }
  .formControl{
    margin: 30px 0;
    position: relative;
    .formLabel{
      font-size: 13px;
      margin-bottom: 4px;
      color: #696969;
      font-weight: 600;
    }
    .formInput--group{
      .formLabel--input{
        @include setFont(16px, 1.4, 400);
        margin-bottom: 0;
        input{
          margin-right: 6px;
          position: relative;
          top: 1px;
        }
        &:not(:last-child){
          margin-right: 30px;
        }
      }
    }
    .formInput{
      width: 100%;
      height: 32px;
      line-height: 32px;
      border: none;
      border-bottom: 1px solid #c8c8c8;
      border-radius: 0;
      background: transparent;
      font-size: 16px;
      color: #000;
      padding: 0;      
      font-weight: 500;
      outline: none;
      &:focus{
        border-bottom: 1px solid #464646;
        outline: none;
      }
      &.passwordInput{
        padding-right: 40px;
      }      
      &::placeholder {
        font-weight: 600;
        color: rgba($color: $black, $alpha: 0.36);
        font-size: 14.12px;
      }
    }
    a.aglink.unsubsribeLink{
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.4px;
      color: $color-text-grey;
      text-decoration: underline;
    }
    .submitBtn{
      margin: 0 auto;
      margin-top: 6px;
    }
    span.field-error {
      font-size: 12.5px;
      color: $color-red;
      display: inline-block;
      line-height: 1.2;
      margin-top: 2px;
    }
    &.requiredField{
      .formLabel{
        position: relative;
        &:after{
          content: '*';
          position: relative;
          top: 3px;
          left: 2px;
        }
      }
    }
    .selectInput {
      .react-select__single-value {
        font-size: 16px;
        font-weight: 500;
        color: $black;
        margin-left: 0;
      }

      .react-select__control {
        background: transparent;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #c8c8c8;
        height: 34px;
        min-height: 30px;
        box-shadow: none;

        &:hover,
        &:focus {
          outline: none;
          box-shadow: none;
        }

        .react-select__value-container {
          padding: 0px;
        }
      }

      .react-select__indicator-separator {
        width: 0;
      }
    }
  }
  .submitBtnWrap{
    @include alignDisplay(center, center);
    margin-top: 50px;
  }
}
.showHidePwd {
  right: 10px;
  font-size: 12.94px;
  top: 32px;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
}
.password-tooltip{
  position: absolute;
  top: 0;
  right: 0;
  i{
    svg{
      font-size: 16px;
      width: 16px;
    }
  }
}

.formResponse{
  text-align: center;
  margin: 60px 0;
  h3{
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
  }
  p{
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.5;
    color: $color-text-grey;
  }
}

#returningUser{
  margin: 60px 0;
  p{
    font-weight: 600;
    font-size: 17px;
  }
  a{
    font-size: 14px;
    color: $color-blue;
  }
}

.custom-input{  
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
  transition: all 0.3s ease-in;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}
.custom-checkbox{
  @extend .custom-input;
  display: block;
  margin: 20px 0;
  .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 1px;
    border: 1px solid #c8c8c8;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 2px;
      width: 6px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      margin-top: 0;
      border-radius: 1px;
    }
  }
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }
  input:checked ~ .checkmark {
    background-color: $color-blue;
    border-color: $color-blue;
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
}