// url(#{$cloudfrontURL}/fonts/sanz/RNSSanz-Light.woff2)

.color-white{ color: $color-white;}
.color-black{ color: $color-black;}
.color-red{ color: $color-red;}
.color-blue{ color: $color-blue;}
.color-dull{ color: $color-dull;}
.color-text-light{ color: $color-text-light; }
.color-text-grey{ color: $color-text-grey; }
.color-text-dark{ color: $color-text-dark; }

.txt-tr-uc {
  text-transform: uppercase;
}

@for $i from 1 through 9{
  .fw#{$i}00{
    font-weight: ($i * 100);
  }
}
@for $i from 1 through 60{
  .fs#{$i}{
    font-size: #{$i}px;
  }
}

@mixin setFont($fontSize: 16px, $lineHeight:1.5, $fontWeight:400, $fontStyle: normal, $fontFamily: 'Nunito Sans',){
  font: $fontStyle $fontWeight #{$fontSize '/' $lineHeight} $fontFamily;
}