.app-footer-container{
  width: 100%;
  .app-footer-wrapper{
    padding: 10px 25px;
    @include setFont(12px, 1.2, 400);
    color: #999999;
    a{
      color: #999999;
      &:hover{
        text-decoration: underline;
      }
    }
    p{
      margin: 5px 0;
    }
    .go2Website{
      a{
        text-decoration: underline;
        img{
          width:10px;
          position: relative;
          top: -1px;
          margin-left: 4px;
        }
        &:hover{
          text-decoration:underline;
        }
      }
    }
    .footer-links{
      display: flex;      
      li{
        &:not(:last-child){
            margin-right: 7px;
          }        
      }
    }
  }
}