.app-sidebar-container{
  flex: 1;
  width: 100%;
  .app-sidebar-wrap{    
    //@include alignDisplay(flex-start, flex-start, column);
    flex: 1;
    a{
      display: block;
      padding: 0 25px;
    }
    .app-logo{
      margin-bottom: 25px;
      a{        
        height: 34px;
        font-size: 15px;
        img{
          height: 100%;
        }
      }
    }
    .app-nav-profile-wrap{
      border-top: 1px solid #444444;
      padding: 25px;
      //margin: 30px 0 10px;
      @include alignDisplay(flex-start, flex-start, row, nowrap);
      .app-nav-profile-img{
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-right: 12px;
        img{
          width: 100%;
        }
      }
      .app-nav-profile-bio{
        .app-nav-profile-name{
          @include setFont(14px, 1.4, 400);
          color: #efefe9;
        }
        .app-nav-profile-role{
          @include setFont(13px, 1.4, 600);
          padding: 2px 8px;
          border-radius: 4px;
          margin: 4px 0 6px;
          background: thistle;
        }
        .app-nav-profile-actions{
          li{
            margin: 3px 0;
            a{
              padding: 0;
              @include setFont(13px, 1.4, 300);
              color: $color-text-dark;
              color: #bbb;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .app-nav-links-wrap{
      margin: 40px 0;
      .app-nav-links{
        .app-nav-link{
          a{
            @include setFont(15px, 1.4, 400);
            color: $color-black;
            color: #bbb;
            height: 40px;
            line-height: 40px;
            transition: 0.2s ease-in-out;
            i{
              margin-right: 10px;
              position: relative;
              top: 2px;
            }
            &:hover, &.active-page{
              background: #015681;
              color: $color-white;
            }
          }
        }
      }
    }
    
  }
}
